.time-picker {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    border: 1px solid #E1E1E1;
    background: #fff;
    color: #444;
    border-radius: 3px;
    width: 230px;
  }
  
  .time-picker-section {
    display: flex;
    flex-direction: column;
  }
  
  .time-picker-section label {
    margin-bottom: 5px;
  }
  
  .time-picker-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 2px solid #E1E1E1;
  }
  
  .time-picker-buttons button {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #F0F0F0;
    background: #F9F9F9;
    font-weight: normal;
    color: #b1adad;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
  }

  .DateAndTimeInput{
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
    box-sizing: border-box;
  }

  .DateAndTimeInput:focus {
    border-color: #4965a7;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
}